export EFI_PARTITION=/dev/nvme0n1p4
export BOOT_PARTITION=/dev/nvme0n1p5
export SWAP_PARTITION=/dev/nvme0n1p6
export ROOT_PARTITION=/dev/nvme0n1p7
export ROOT_PARTITION_PASSWORD="change this!"
export MACHINE_NAME="nile"
export LINUX_KERNEL="linux54"
export ROOT_PASSWORD="change this!"
export USER_NAME="hoffs"
export USER_PASSWORD="change this!"
